%h2
  Challenges

%hr

= render 'create_challenge', group: @group

%ul.list-unstyled.active-challenges
  - if @active_challenges.present?
    = render partial: 'challenges/challenge', collection: @active_challenges

  = render partial: 'challenges/challenge', collection: @inactive_challenges
