%h2
  Scores

%hr

%table.table.table-striped
  %tbody
    - @group.users.sort_by(&:points).reverse.each do |user|
      %tr
        %td.points
          = user.points

        %td
          = render 'layouts/gravatar', email: user.email

          = user.title
