%h2
  Scores

%hr

%table.table.table-striped
  %tbody
    - @group.user_points.sort(:points.desc).each do |user_point|
      %tr
        %td.points
          = user_point.points

        %td
          = render 'layouts/gravatar', email: user_point.user.email

          = user_point.user.title
