.row
  .col-md-12
    .jumbotron
      %h1
        %span.glyphicon.glyphicon-th-large

        All groups

      = form_for(Group.new, url: new_group_path, method: :get, html: { class: 'form-inline' }) do |form|
        = form.text_field(:name, required: true, placeholder: 'Group name...', class: 'form-control')
        = form.submit('Create new group', class: 'btn btn-primary btn-sm')

.row
  .col-md-12
    %ul.list-unstyled
      = render partial: 'group', collection: @groups
