groups#show

%h1
  Users

.row
  .col-md-12
    %ul.list-unstyled
      - @group.users.each do |user|
        %li.pull-left
          = gravatar_image_tag(user.email, class: 'img-rounded', gravatar: { size: 48})
          %br
          = user.title

%h1
  Challenges

= render 'create_challenge', group: @group

%ul
  - @group.challenges.each do |challenge|
    %li
      = challenge.title
