%h2
  How to ChallengeMe
%h4
  Groups

%p
  Groups unite people with similar interests, from a real life group, a company or any other social constellation. Everbody can create a new one and invite friends. Or you can browse the existing ones and join any that sound interesting to you. You need to be part of a group to create and complete challenges. Everything in ChallengeMe is organized in groups.

%h4
  Creating a Challenge

%p
  If your are part of a group, you are able to create new challenges for other members. Every challenge starts with a title (be as explicit or funny as you like - but keep it short) and after that you can refine the parameters: Decide which type of challenge you want to create and write a short description what exactly the challenge contains. You may also select a difficulty level, according to how hard you think your challenge will be!

%h4
  Voting

%p
  New challenges appear as 'inactive' and require votes to become active (only active challenges can be completed). The threshold is defined by the number of members in the group. Every member can vote on challenges they find interesting, hilarious or useful - just by clicking on the 'vote' button in the list of challenges.

%h4
  Completing a Challenge

%p
  Active Challenges are tasks for everybody or a single person from the group. If you qualify you may try to do what the challenge contains. If you complete it, you can claim it by clicking on the 'I did it!' button. But even though we believe in our users honesty, we require verification before you get your prize.

%h4
  Verification

%p
  A witness is needed before the points get awarded after somebody claimed to complete a challenge. Two new buttons allow all other members of the group to verify ('it's true') or contradict ('it's a lie') the claim.

%h4
  Points

%p
  After successful verification the person who completed the challenge gets points. The number depends on the type and difficulty of the task. Points are awarded per group and displayed as a leaderboard at the right side in the group window. The more points the better!

