%h1
  Welcome

  = current_user.title

.row
  .col-md-6
    %h2
      Your challenge groups

    %ul.media-list
      = render partial: 'groups/group', collection: current_user.groups


  .col-md-6
    %h2
      Other popular groups

      %small
        = link_to groups_path do
          See all groups!

    %ul.media-list
      = render partial: 'groups/group', collection: Group.recent.all - current_user.groups
