%li
  %h3
    %span.glyphicon{class: challenge.type_icon}

    = challenge.title

    = render 'challenges/status', challenge: challenge

  %p
    = challenge.description

  = render 'challenges/votes', challenge: challenge
