%tr
  %td
    = render 'layouts/gravatar', email: workflow.creator.email

    = workflow.creator.title

  %td
    = link_to approve_challenge_path(challenge, workflow.creator), remote: true, method: :put, class: 'btn btn-success' do
      %span.glyphicon.glyphicon-ok
      It's true

    = link_to '#', class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-remove
      It's a lie

